body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6e6a4;
}

.container{
    height: auto;
    width: 25vw;
    background-color: #9c9efcc9;
    box-shadow: 4px 5px 6px;
    border-radius: 15px;
    border: none;
}

.header{
    text-align: center;
    padding: 10px;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 0.5px solid #ffffff;
    margin-bottom: 20px;
}

.addTask{
    display: flex;
    justify-content: space-evenly;
}

input{
    padding: 7px;
    border-radius: 5px;
}

button:hover{
    box-shadow: 2px 2px 2px;
    border: 1px solid #000000;
}

button{
    cursor: pointer;
    background-color: #ffff00a8;
    border-radius: 5px;
    padding: 4px;
}

ul{
    list-style: none;
    padding: 15px;
}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 7px;
}